<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BreakOutGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA18921E1C83D4D5000D8212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA18923C1C83D4DC000D8212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA1892471C83D4DC000D8212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
